<div class="navbar">
    <div class="navbar__logobox">
        <i class="fas fa-bookmark"></i>
        BestReads
    </div>
    <div class="navbar__searchbox">
        <form class="form-inline">
            <a id="search-btn"><i class="fas fa-search fa-3x" aria-hidden="true"></i></a>
            <input class="form-control form-control-lg ml-3 w-50" type="text" placeholder="Search Books"
                aria-label="Search" id="user-query">
        </form>
    </div>
    <div class="navbar__link" class="navbar__link">
        <a href="/home">Home</a>
        <a href="/mylists">My Lists</a>
        <a href="/profile">Profile <i class="far fa-user"></i></a>
        <a id="logout" href="/logout">Logout</a>
    </div>
</div>
</div>