<div class="navbar">
    <div class="navbar__logobox">
        <i class="fas fa-bookmark"></i>
        BestReads
    </div>



    <div class="navbar__searchbox">
        <form class="form-inline">
            <i class="fas fa-search fa-3x" aria-hidden="true"></i>
            <input class="form-control form-control-lg ml-3 w-50" type="text" placeholder="Search Books"
                aria-label="Search">
            <select class="form-control ml-3">
                <option>Book</option>
                <option>Author</option>
                <option>ISBN</option>
            </select>
        </form>
    </div>





    <div class="navbar__link" class="navbar__link">
        <div id="linkz">
            <a id="login-google" href="/auth/google">GOOGLE[PH]</a>
            <a id="login-amazon" href="/auth/amazon">AMAZON[PH]</a>
            <a id="logout" href="/logout">LOGOUT[PH]</a>
        </div>
        <a href="/home">Home</a>
        <a href="/test">Advanced Search</a>
        <a href="/mylists">My Lists</a>
        <a href="/profile"><i class="far fa-user"></i></a>
    </div>
</div>