
<div class="section-splash">

    <div class="splash-heading__container">
        <div class="splash-heading__box">
            <h1 class="splash-heading splash-heading--main">
                BestReads
            </h1>
          
          <div class="g-signin2 w-25 mx-auto" data-onsuccess="onSignIn" data-theme="dark"></div>
        </div>
    </div>

</div>





