
<div class="section-splash">

    <div class="splash-heading__container">
        <div class="splash-heading__box">
            <h1 class="splash-heading splash-heading--main">
                BestReads
            </h1>
          
          <a id="login-google" href="/auth/google">
          <div class="btn--login">
            <img src="assets/images/sign-in-buttons/btn_google_signin_light_normal_web.png" alt="google sign in">
          <img src="assets/images/sign-in-buttons/btn_google_signin_light_focus_web.png" class="btn--login-google-focus" alt="google sign in">
          <img src="assets/images/sign-in-buttons/btn_google_signin_light_pressed_web.png" class="btn--login-google-active" alt="google sign in">
          </div>
          </a>

        <a id="login-amazon" href="/auth/amazon">
          <div class="btn--login">
            <img src="assets/images/sign-in-buttons/btn_amazon_normal_web.png" alt="amazon sign in">
          <img src="assets/images/sign-in-buttons/btn_amazon_hover_web.png" class="btn--login-amazon-focus" alt="amazon sign in">
          <img src="assets/images/sign-in-buttons/btn_amazon_pressed_web.png" class="btn--login-amazon-active" alt="amazon sign in">
          </div>
            </a>
            
        </div>
    </div>

</div>
 

   


