.btn {
    &--add {
        @include absolutePosition (80%, 2%);
        &-not-listed {
            @include gradientText(bottom left, $color-secondary, $color-secondary-light);
            text-shadow: .2rem .2rem .3rem rgba($color-secondary, .4);
        }
        &-listed {
            @include gradientText(bottom left, $color-primary, $color-primary-light);
            text-shadow: .2rem .2rem .3rem rgba($color-primary, .4);
        }
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }
    &--login {
        position: relative;
        display: inline-block;
        // Google Login Button
        & &-google-focus {
            @include hideAbsoluteImg;
        }
        & &-google-active {
            @include hideAbsoluteImg;
        }
        &:hover &-google-focus {
            display: inline;
        }
        &:active &-google-active {
            display: inline;
        }
        // Amazon Login Button
        & &-amazon-focus {
            @include hideAbsoluteImg;
        }
        & &-amazon-active {
            @include hideAbsoluteImg;
        }
        &:hover &-amazon-focus {
            display: inline;
        }
        &:active &-amazon-active {
            display: inline;
        }
    }
}

.dropdown-item {
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }
}