    //BUTTON GROWS ON HOVER
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
        &:hover {
            transform: scale(1.1);
        }
    }
    
    //COLOR CHANGES ON HOVER
    @-webkit-keyframes hvr-back-pulse {
        50% {
            background-color: rgba(32, 152, 209, 0.75);
        }
    }
    
    @keyframes hvr-back-pulse {
        50% {
            background-color: rgba(32, 152, 209, 0.75);
        }
    }
    
    .hvr-back-pulse {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        overflow: hidden;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
    }
    
    .hvr-back-pulse:hover,
    .hvr-back-pulse:focus,
    .hvr-back-pulse:active {
        -webkit-animation-name: hvr-back-pulse;
        animation-name: hvr-back-pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        background-color: #2098D1;
        background-color: #2098d1;
        color: $color-primary;
    }