$color-primary-light: #d4a45d;
$color-primary: #B67d3c;
$color-primary-dark: #062b5f;
$color-secondary-light: #548cda;
$color-secondary: #0861dd;
$color-white: #fff;
$color-black: #000;
$logo-font: Garamond,
serif;