.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover {
  transform: scale(1.1);
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-back-pulse:hover,
.hvr-back-pulse:focus,
.hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: #B67d3c;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}


.well {
  margin: 20px;
}

.well>* {
  margin: 25px;
}

.section-heading--main {
  color: #B67d3c;
  font-size: 3rem;
}

.section-heading--sub {
  font-family: Garamond, serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.info-heading {
  font-family: Garamond, serif;
  font-size: 3rem;
}

.info-heading b {
  font-weight: bold;
}

.row-height-250 {
  max-height: 25rem;
  overflow: hidden;
}

.card-title {
  font-size: 1.6rem;
}

.card-text {
  font-size: 1.2rem;
}

.dropdown-lists {
  position: absolute;
  top: 10%;
  left: 70%;
}

.btn--add {
  position: absolute;
  top: 2%;
  left: 80%;
}

.btn--add-not-listed {
  background-image: linear-gradient(to bottom left, #0861dd, #548cda);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(8, 97, 221, 0.4);
}

.btn--add-listed {
  background-image: linear-gradient(to bottom left, #B67d3c, #d4a45d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(182, 125, 60, 0.4);
}

.btn--add:hover,
.btn--add:focus,
.btn--add:active {
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  z-index: 100;
  text-align: center;
  background-color: #fff;
}

.navbar__logobox {
  font-family: Garamond, serif;
  float: left;
  margin-left: 3rem;
  font-size: 2.5rem;
  color: #062b5f;
  padding: .2rem 1.2rem;
  background-image: linear-gradient(to bottom left, #B67d3c, #062b5f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar__logobox .fas {
  background-image: linear-gradient(to top, #B67d3c, #062b5f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar__link {
  float: right;
}

.navbar__searchbox {
  text-align: center;
  width: 25%;
}

.navbar__searchbox .fas {
  color: #062b5f;
}

.navbar a {
  color: #B67d3c;
}

.navbar a:link {
  padding: .2rem 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}

.navbar a:hover {
  color: #d4a45d;
}

#search-btn:hover,
#search-btn:focus,
#search-btn:active {
  cursor: pointer;
}

.current-book-list--item a {
  color: #B67d3c;
  font-size: 2.5rem;
  font-weight: bold;
}

.user-profile--img {
  border-radius: 50%;
}

.user-bio {
  font-size: 1.8rem;
  color: #020202;
}

.user-heading {
  font-size: 2.4rem;
  color: #020202;
}

.section-splash {
  height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/splash-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.splash-heading {
  font-family: Garamond, serif;
  color: #000;
}

.splash-heading__container {
  height: 100vh;
  text-align: center;
}

.splash-heading__box {
  text-align: center;
  padding: 10rem;
}

.splash-heading--main {
  font-size: 8rem;
  text-shadow: 0rem 0.3rem 0.5rem rgba(255, 255, 255, 0.8);
}