.section-splash {
    height: 100vh;
    background-color: #fff;
    background-image: url(../images/splash-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}