<div class="row">
        <div class="col-lg-12">
            <p class="text-center">Current List</p>
        </div>
    </div>

    <div class="container" id="currentlistcards">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="./images/movie1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Book 1</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to
                            additional
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="./images/movie2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Book 2</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="./images/movie3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Book 3</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="./images/movie4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Book 3</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="./images/movie5.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Book 5</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="./images/movie6.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Book 6</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>