<div class="container-fluid">
    <div class="container mt-5">
<h2 class="section-heading--main">
    Hey, Name! Welcome to your next Best Read.
</h2>
<hr>
<div class="section-heading--sub mt-5">
    Recommendation: More Books By Author
</div>
<div class="row row-height-250 mb-5">
    <div class="col-lg-3 col-sm-6">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1524380562l/39911748._SY475_.jpg" class="img-fluid" alt="book">
    <i class="fas fa-plus-circle btn--add  fa-4x"></i>
    </div>
    <div class="col-lg-3 col-sm-6">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1482729135l/33580202._SX318_.jpg" class="img-fluid" alt="book">
        <i class="fas fa-plus-circle btn--add  fa-4x"></i>
    </div>
    <div class="col-lg-3 col-sm-6">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473867911l/29780253.jpg" class="img-fluid" alt="book">
        <i class="fas fa-plus-circle btn--add  fa-4x"></i>
    </div>
    <div class="col-lg-3 col-sm-6">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1503615890l/31145186._SX318_.jpg" class="img-fluid" alt="book">
        <i class="fas fa-plus-circle btn--add  fa-4x"></i>
    </div>
</div>

<hr>
<div class="section-heading--sub mt-5">
    Recommendation: More Books By Author
</div>
<div class="row row-height-250 mb-5">
    <div class="col-lg-3 col-sm-6">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1524380562l/39911748._SY475_.jpg" class="img-fluid" alt="book">
    </div>
    <div class="col-lg-3 col-sm-6">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1482729135l/33580202._SX318_.jpg" class="img-fluid" alt="book">
    </div>
    <div class="col-lg-3 col-sm-6">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473867911l/29780253.jpg" class="img-fluid" alt="book">
    </div>
    <div class="col-lg-3 col-sm-6">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1503615890l/31145186._SX318_.jpg" class="img-fluid" alt="book">
    </div>
</div>



    </div>
</div>