<section class="my-lists">
<div class="container-fluid">
    <div class="container mt-5">

        <h2 class="section-heading--main">
            My Lists
        </h2>
        <hr>

       

    </div>
</div>
</section>

<script src="assets/js/display-lists.js" type="text/javascript" ></script>