<section class="my-lists">
<div class="container-fluid">
    <div class="container mt-5">

        <h2 class="section-heading--main" id="username">
            Tom From Myspace
        </h2>
        <hr class="mb-5">

         <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5">
            <img class="img-fluid user-profile--img mb-3" id="user-photo" src="https://pbs.twimg.com/profile_images/1237550450/mstom_400x400.jpg">
            <p class="user-bio" id="user-bio"><b>Bio:</b> <span id="user-books-read">Hi, I'm Tom! I invented MySpace! No one uses it now, though. So I have a lot of time on my hands for reading.</span></h3>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="current-book-info mb-5">
            <h3 class="user-heading"><b>Email:</b> <span id="user-email"> tom@myspace.com </span></h3>
            <h3 class="user-heading"><b> Reading Goal:</b> <span id="user-goal">1</span></h3>
            <h3 class="user-heading"><b>Books Read:</b> <span id="user-books-read">3</span></h3>
            </div>

            <div class="current-book-lists">
                <h3 class="user-heading"><b>Your Lists</b></i></h3>
                <ul id="current-book-list">
                    <li class="list-group-item current-book-list--item"><a href="#">Favorites</a></li>
                    <li class="list-group-item current-book-list--item"><a href="#">Read</a></li>
                    <li class="list-group-item current-book-list--item"><a href="#">YA</a></li>
                    <li class="list-group-item current-book-list--item"><a href="#">Fantasy</a></li>
                </ul>
            </div>

        </div>

    </div>

    </div>
</div>
</section>

