<h1>Search Results</h1>


<div id="search-results"></div>

<script id="search-results-template" type="text/x-handlebars-template">
<div class="row">
\{{#each work}}
<div class="col-lg-3 col-sm-6 d-inline">
    <div class="card" style="width: 25rem;">
        <img src=" \{{image}}" class="img-fluid card-img-top row-height-250" alt="book">
        <i class="fas fa-plus-circle btn--add  fa-4x"></i>
            <div class="card-body">
                <h5 class="card-title"> \{{title}}</h5>
                <p class="card-text">By: \{{author}}</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
    </div>
</div>
\{{/each}}
</row>
</script>